/* General style */
* {
    box-sizing: border-box;
}

:root {
    --bodyBackground: #FFF;
    --bodyText: #333;
    --anchor: #08C;
    --footerText: #6E6E6E;
    --footerInfoBorder: #CCC;
}

body {
    background: var(--bodyBackground);
    color: var(--bodyText);
    font: 10px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
    a {
        text-decoration: none;
        color: var(--anchor);
    }
        a:hover {
            text-decoration: underline;
        }

/* Footer */
.footer {
    width: 1020px;
    height: 90px;
    margin: 0 auto;
    padding: 2em 2em 0;
    color: var(--footerText);
}
    .footer__info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.3em;
    }
